.column {
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-padding: 10;
}

#gridShape {
    -fx-fill: blue;
    -fx-effect: lightingEffect;
}

.lightingEffect {
    -fx-light-azimuth: 45.0;
    -fx-light-elevation: 30.0;
    -fx-surface-scale: 5.0;
}

.gridPane {
    -fx-background-color: transparent;
}

/* Estilo general para las columnas */
.columna {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

/* Estilo cuando el mouse entra en la columna */
.columna-hover {
    -fx-background-color: rgba(200, 200, 50, 0.3);  /* Color de fondo en hover */
    -fx-border-color: rgb(255, 200, 50);             /* Borde amarillo */
    -fx-border-width: 2px;
}
